{{#each this}}
<div>
    <h2>{{name}}</h2>
    <div>
        <p>{{capital}}</p>
        <p>{{region}}</p>
        <p>{{population}}</p>
        <ul>{{#each languages}}
            <li>{{name}}</li>{{/each}}</ul>
    </div>
    <div>
        <img src="{{flag}}" alt="">
    </div>
</div>
{{/each}}